@font-face{
  font-family:"Masbul-Black";
  src: url("/static/fonts/masbul/Masbul-Black.ttf");
}
@font-face{
  font-family:"Masbul-Bold";
  src: url("/static/fonts/masbul/Masbul-Bold.ttf");
}
@font-face{
  font-family:"Masbul-Book";
  src: url("/static/fonts/masbul/Masbul-Book.ttf");
}
@font-face{
  font-family:"Masbul-Light";
  src: url("/static/fonts/masbul/Masbul-Light.ttf");
}
@font-face{
  font-family:"Masbul-Medium";
  src: url("/static/fonts/masbul/Masbul-Medium.ttf");
}
@font-face{
  font-family:"Sentinel-Light";
  src: url("/static/fonts/sentinel/Sentinel-Light.otf");
}
@font-face{
  font-family:"Sentinel-Book";
  src: url("/static/fonts/sentinel/Sentinel-Book.otf");
}

body {
  font-family: 'Sentinel-Light';
  font-size: 18px;
  background: #F7F7F5 !important;
}



